{% extends 'base.html' %}
{%block title%}Friends For {{username}}{%endblock%}
{%block head%}Frinds For {{username}}{%endblock%}
{%block content%}
<div id="abc">
<a href="/friend/invite/">Click Here To Invite A Friend!</a>
  </div>
<h2>Friend list</h2>
{%if friends%}
	<ul class="friends">
	{%for friend in friends %}
	 <li><a href="/user/{{friend.username}}/">{{friend.username}}</a></li>
	{%endfor%}
	</ul>
{%else%}
	<p>No Friends</p>
{%endif%}

  <h3>Latest Friend Bookmarks</h3>
{%include 'bookmark_list.html'%}
{%endblock%} 